{
  "project_info": {
    "project_number": "000000000000",
    "project_id": "mythos-museu-dos-deuses",
    "storage_bucket": "mythos-museu-dos-deuses.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:0000000000000000000000",
        "android_client_info": {
          "package_name": "com.example.mythos"
        }
      },
      "api_key": [
        { "current_key": "SUA_API_KEY_DO_FIREBASE" }
      ],
      "services": {
        "appinvite_service": { "other_platform_oauth_client": [] }
      }
    }
  ],
  "configuration_version": "1"
}
